/* General settings */
:root {
    font-size: 62.5%;
    --main-color: #016990;
    --second-color: #6d0506;
    --main-dark: #202020;
    --second-dark: #3f3f3f;
    --main-light: #D4D4D4;
    /* Mettre white en guise de second light */
}

* {
    font-family: "NanumGothic", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px red solid;
}

body {
    display: flex;
    flex-direction: column;
}


/* Navigation */



/* Header */



/* Main */

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: var(--main-light);
}



/* Carousel */

.carousel-container {
    width: 90%;
    height: 20vh;
    display: flex;
}

.carousel-img-container {
    width: 80%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel-img-container li {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto 10%;
    transform: translateX(30%);
}

.carousel-img-container img {
    /* max-width: 100%; */
    max-height: 100%;
}

.arrow-button {
    width: 10%;
    font-size: 3rem;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section */



/* Footer */