/* General settings */
:root {
    font-size: 62.5%;

    --second-light: #016990;
    --second-dark: #6d0506;
    --main-color-fond-menu: rgba(1,105,144,0.6); /* fond du menu avec transparence */

    --main-dark: #202020;
    --main-light: #deecf1;
    /* Mettre white en guise de second light */
}

* {
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main-light {
    background-color: var(--main-light);
}

.main-dark {
    background-color: var(--main-dark);
}

.second-light {
    background-color: var(--second-light);
}

.second-dark {
    background-color: var(--second-dark);
}


/* Navigation */
nav {
    position: fixed;
    height: 15vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: flex-end;
    left: 0px;
    height: 100%;
}

.logo .image {
    max-height: 10rem;
    width: auto;
    height: 100%;
}

.darkmode:hover {
    transform: scale(1.05);
}

.rideau-toggler {
    z-index: 10;
    /* reste au 1er plan*/
    height: 4rem;
    width: 5rem;
    border-radius: 8%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    margin-right: 1.2rem;
}

.rideau-toggler:hover {
    transform: scale(1.05);

}

/* la classe .ligne contient l1, l2 et l3 (les 3 ligne du hamburber) */
.line {
    /* position: absolute; */
    display: block;
    height: 0.4rem;
    width: 100%;
    background: white;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out; 
}

/* .l1 {
    transform: translateY(-12px);
}

.l3 {
    transform: translateY(12px);
} */

.rideau-toggler.active .l1 {
    transform: translateY(1.3rem) rotate(135deg);
}

.rideau-toggler.active .l2 {
    opacity: 0;
}

.rideau-toggler.active .l3 {
    transform: translateY(-1.3rem) rotate(-135deg);
}

/* LE MENU */
.rideau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-height: 30vh;
    margin: auto;
    background: var(--main-color-fond-menu);
    transform: translateY(-100%);
    /* position de depart ( -100% à gauche, +100% à droite
                                    transalateY: ( -100% en haut, +100% en bas */
    transition: transform 0.6s ease-in-out;
    z-index: 1;
}

.rideau.active {
    transform: translate(0);
}

.rideau a {
    font-weight: bold;
    font-size: 1.8rem;
    
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.4rem;
    margin: 0.2rem;
}

.rideau a:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/* Day-night button */
.container-switch {
    width: 6rem;
    height: 3rem;
    position: relative;
}

.label-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50px;
}

.input-switch {
    position: absolute;
    display: none;
}

.span-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--main-light);
}

.span-switch::before {
    content: "🌚";
    position: absolute;
    display: flex;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.input-switch:checked + .span-switch::before {
    content: "🌞";
    transform: translateX(3.3rem) rotate(360deg);
}

.input-switch:checked + .span-switch {
    background-color: var(--main-dark);
}

/* Header */

header {
    margin-top: 15vh;
    background: no-repeat center/ 100% url("/assets/Wmis2d.gif");
    height: 20vh;

}

header h1 {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


    text-shadow: 2px 2px 2px black;
}

/* Main */

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
}



/* Carousel */

.carousel-container {
    width: 90%;
    height: 20vh;
    display: flex;
    box-shadow: 0 0 1rem black;
    margin: 2rem auto;
    border-radius: 0.5rem;
}

.carousel-img-container {
    width: 80%;
    height: 100%;
    list-style: none;
    position: relative;
}

.carousel-img-container li {
    height: 100%;
    width: 80%;
    justify-content: center;
    margin: auto;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s ease;
    z-index: 0;
}

.carousel-img-container img {
    max-height: 100%;
}

.arrow-button {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.left-arrow {
    opacity: 0.5;
}

li.show-carousel-img {
    opacity: 1;
}

/* Section */
.container-sections {

    width: 90%;
    display: flex;
    flex-direction: column;

}

.individual-section {
    color: white;
    box-shadow: #202020 0 0 0.5rem;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
}

.individual-section img {
    float: left;
    width: 40%;
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: #202020 0 0 0.5rem;
}

.individual-section h3 {
    font-size: 2.2rem;
    text-shadow: 0 0 1rem black;
    letter-spacing: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.individual-section p {
    font-size: 1.8rem;
    text-shadow: 0 0 0.5rem black;
    margin: 1.5rem;
    line-height: 2.5rem;
}


/*EVOLUTION*/

.card h2 {
    color: var(--main-color);
    border-radius: 1rem;
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
}

section .evolution {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.slide img {
    height: 35vh;
    width: 22vh;
    border: 5px solid var(--second-light);
}

.slider {
    display: flex;
    margin: 2rem 0 5rem 0;
    height: 37vh;
    width: 100%;
    /* a changer pour version bureau*/
}

.slider .slide-track {
    -webkit-animation: scroll 70s linear infinite;
    animation: scroll 70s linear infinite;
    display: flex;
    max-width: 100%;
}


@-webkit-keyframes scroll {
    0% {
        transform: translateX(200rem);
    }

    100% {
        transform: translateX(calc(-30rem * 7));
    }
}

/* Footer */
footer {
    color: white;
    padding-left: 1rem;
    height: 5vh;
    display: flex;
    align-items: center;
    font-weight: 500;

}

/* MEDIA QUERY */
/* @media screen and (min-width: 375px){
    .line, .nav-toggler, .nav-toggler, .active, .nav-toggler:hover{
        display: none;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100vw;
        height: 14.5vh;
        min-height: 14.5vh;
        margin: auto;
        background: var(--main-color);
        transform: translate(0);
    }
    .rideau {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 70vw;
        min-height: 10vh;
        margin: auto;
        background: var(--main-color-fond-menu);
        transform: translateY(0);
    }
    .rideau a:hover{
        transform: none;
        background-color: var(--main-light);
        color: var(--main-color);
    }
    .liste_menu{
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction: row;
        
    }
    nav a{
        font-weight:lighter;
        font-size: 1.0rem;
        display:flex;
        color: #f1f1f1;
        text-decoration: none;
        height: 100%;
       
    }
    nav a:hover{
        color:#555555;
        background-color: white;
        border-radius: 0;
        border: none;
        transition: 0.3s;
    }  
} */
