/* General settings */
:root {
    font-size: 62.5%;

    --second-light: #016990;
    --second-dark: #6d0506;
    --main-color-fond-menu: rgba(1, 105, 144, 0.6);
    /* fond du menu avec transparence */
    --main-dark: #202020;
    --main-light: #deecf1;
    /* Mettre white en guise de second light */
}



* {
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    /* désactive les scrollbars */

}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.main-light {
    background-color: var(--main-light);
}

.main-dark {
    background-color: var(--main-dark);
}

.second-light {
    background-color: var(--second-light);
}

.second-dark {
    background-color: var(--second-dark);
}



/* Navigation */
nav {
    position: fixed;
    height: 15vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: flex-end;
    left: 0px;
    height: 100%;
}

.logo .image {
    max-height: 10rem;
    width: auto;
    height: 100%;
}

.darkmode:hover {
    transform: scale(1.05);
}

.rideau-toggler {
    z-index: 10;
    /* reste au 1er plan*/
    height: 4rem;
    width: 5rem;
    border-radius: 8%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    margin-right: 1.2rem;
}

.rideau-toggler:hover {
    transform: scale(1.05);

}

/* la classe .ligne contient l1, l2 et l3 (les 3 lignes du hamburber) */
.line {
    /* position: absolute; */
    display: block;
    height: 0.2rem;
    width: 100%;
    background: white;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

/* .l1 {
    transform: translateY(-8px);
}

.l3 {
    transform: translateY(8px);
} */

.rideau-toggler.active .l1 {
    transform: translateY(1.3rem) rotate(135deg);
}

.rideau-toggler.active .l2 {
    opacity: 0;
}

.rideau-toggler.active .l3 {
    transform: translateY(-1.3rem) rotate(-135deg);
}

/* LE MENU */
.rideau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-height: 30vh;
    margin: auto;
    background: var(--main-color-fond-menu);
    transform: translateY(-100%);
    /* position de depart ( -100% à gauche, +100% à droite
                                    transalateY: ( -100% en haut, +100% en bas */
    transition: transform 0.6s ease-in-out;
    z-index: 1;
}

.rideau.active {
    transform: translate(0);
}

.rideau a {
    font-weight: bold;
    font-size: 1.8rem;
    text-shadow: 1px 1px var(--second-dark);
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.4rem;
    margin: 0.2rem;
}

.rideau a:hover {
    transform: scale(1.08);
    transition: 0.3s;
}

/* Day-night button */
.container-switch {
    width: 6rem;
    height: 3rem;
    position: relative;
}

.label-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50px;
}

.input-switch {
    position: absolute;
    display: none;
}

.span-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--main-light);
}

.span-switch::before {
    content: "🌚";
    position: absolute;
    display: flex;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.input-switch:checked+.span-switch::before {
    content: "🌞";
    transform: translateX(3.3rem) rotate(360deg);
}

.input-switch:checked+.span-switch {
    background-color: var(--main-dark);
}

/* Header */

header {
    margin-top: 15vh;
    background: no-repeat center/ 100% url("/assets/Wmis2d.gif");
    height: 20vh;
    display: flex;
    flex-direction: column;

}

header h1 {
    color: white;
    font-size: 3rem;
    display: flex;
    /* pour disposer h1 et citation..*/
    flex-direction: column;
    /* .. en colonne */
    justify-content: center;
    align-items: center;
    height: 100%;
    text-shadow: 2px 2px 2px black;
}

/* texte defilant */
/* container texte defilant */
.defile {
    overflow: hidden;
    width: 90%;
    max-width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 0.5em;
    /* background-color: var(--second-light); */
    background-color: var(--main-color-fond-menu);


}

/* definir font et vitesse de defilement */
.defile>div {
    display: inline-block;
    white-space: nowrap;
    animation: defilement 100s infinite linear;
    cursor: pointer;
    padding-bottom: 0.6rem;
    font-size: 1.6rem;
    color: var(--main-light);
    text-shadow: 1px 1px var(--second-dark);

}

.auteur {
    font-style: italic;
}

/* Hover: pause du defil (facultatif */
.defile:hover>div {
    animation-play-state: paused;
}

@keyframes defilement {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    100% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
}

/* Main */

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    overflow-x: hidden;
}



/* Carousel */

.carousel-container {
    width: 70%;
    height: 20vh;
    display: flex;
    box-shadow: 0 0 1rem black;
    margin: 2rem auto 0.5rem auto;
    border-radius: 0.5rem;
}

.carousel-img-container {
    width: 80%;
    height: 100%;
    list-style: none;
    position: relative;
}

.carousel-img-container li {
    height: 100%;
    width: 80%;
    justify-content: center;
    margin: auto;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s ease;
    z-index: 0;
}

.carousel-img-container img {
    max-height: 100%;
}

.arrow-button {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.left-arrow {
    opacity: 0.5;
}

li.show-carousel-img {
    opacity: 1;
}

.container-carousel-buttons {
    /* border: 1px solid gray; */
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
}

.carousel-button {
    height: 2rem;
    width: 2rem;
    /* background-color: red; */
    margin: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--main-dark);
    opacity: .3;
}

.active-carousel-button {
    background-color: var(--second-light);
    box-shadow: 0 0 0.8rem var(--second-light);
    opacity: .7;
}

/* Section */
.container-sections {

    width: 90%;
    display: flex;
    flex-direction: column;

}

.individual-section {
    color: white;
    box-shadow: #202020 0 0 0.5rem;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
}

.individual-section img {
    float: left;
    width: 40%;
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: #202020 0 0 0.5rem;
}

.individual-section h3 {
    font-size: 2.2rem;
    text-shadow: 0 0 1rem black;
    letter-spacing: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.individual-section p {
    font-size: 1.8rem;
    text-shadow: 0 0 0.5rem black;
    margin: 1.5rem;
    line-height: 2.5rem;
}


/*EVOLUTION*/

.cardzer {
    color: var(--second-light);
    border-radius: 1rem;
    font-size: 2.1rem;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
}

section .evolution {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.dark-border {
    height: 35vh;
    width: 22vh;
    border: 5px solid var(--second-light);
}

.dark-mode-border {
    height: 35vh;
    width: 22vh;
    border: 5px solid var(--second-dark);
}

.slider {
    display: flex;
    margin: 2rem 0 5rem 0;
    height: 37vh;
    width: 100%;
    /* a changer pour version bureau*/
}

.slider .slide-track {
    -webkit-animation: scroll 70s linear infinite;
    animation: scroll 70s linear infinite;
    display: flex;
    max-width: 100%;
}

.second-dark-typo {
    color: var(--second-dark);
}


@-webkit-keyframes scroll {
    0% {
        transform: translateX(200rem);
    }

    100% {
        transform: translateX(calc(-30rem * 7));
    }
}

/* Footer */
footer {
    color: white;
    padding-left: 1rem;
    height: 5vh;
    display: flex;
    align-items: center;
    font-weight: 500;

}

/* MEDIA QUERY */
@media screen and (min-width: 720px) {

    /* Nav */
    .line,
    .nav-toggler,
    .nav-toggler .active,
    .nav-toggler:hover {
        display: none;
    }

    .rideau {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;
        position: fixed;
        width: 100%;
        height: auto;
        min-height: 15vh;
        z-index: 0;
        /* border: 1px solid red; */
        background: none;
        /* pas de fond si le menu est sur la nav*/
        transform: none;
    }

    .rideau-toggler {
        display: none;
    }


    /* .rideau a:hover {
        transform: scale(1.06);
        
        transition: 0.3s;
        
    }
     */
    .liste_menu {
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    /* nav a{
        font-weight:lighter;
        font-size: 1.0rem;
        display:flex;
        text-decoration: none;
        height: 100%;
       
    } */

    /* Header */


    /* Main */
    main {
        width: 70%;
        box-shadow: 0 0 5rem var(--main-dark);
    }

    /* Carousel */

    /* Sections */

    /* Evolution */


    /* Footer */
    footer {
        box-shadow: 0 0 5rem var(--main-dark);
    }


}